body{
    background: url(../Images/background.jpg);
    background-size:cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39,39,39,0.4);
}


form {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #009444;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10x;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 1;
    margin-right: 10px; /* Adjust the spacing between the labels and inputs */
}

label {
    display: block;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

input[type="text"],
input[type="fname"],
input[type="bname"],
input[type="pnumber"],
input[type="address"],
input[type="district"],
input[type="country"],
input[type="uname"],
input[type="password"],
input[type="email"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009444;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    flex: 2;
}

.button:hover {
    background-color: #009444;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%; /* Full width for mobile screens */
    }
    .form-group {
        margin-bottom: 10px; /* Adjust spacing for mobile */
    }
}